.apple-container{

padding-top:120px;
width:85%;
margin:auto;

}


/* TITLE */

.mango-title{

font-size:40px;
margin-bottom:60px;
font-weight:600;
text-align:center;

}


/* CEO CARD */

.banana-card{

background:white;
padding:30px;
width:650px;
margin:auto;
border-radius:14px;
box-shadow:0 6px 18px rgba(0,0,0,0.15);

}

.orange-name{

font-weight:600;
margin:10px 0;
text-align:center;

}

.grape-desc{

font-size:14px;
color:#444;
line-height:1.7;
text-align:justify;

}


/* LINE */

.pine-line{

width:2px;
height:50px;
background:#555;
margin:35px auto;

}


/* ROW */

.melon-row{

display:flex;
justify-content:center;
gap:50px;
margin-bottom:70px;
flex-wrap:wrap;

}


/* FO / SEC */

.kiwi-card{

background:white;
padding:25px;
width:380px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.15);

}

.kiwi-card h3{

text-align:center;

}


/* AO SECTION */

.papaya-section{

margin-top:40px;
margin-bottom:90px;
text-align:center;

}

.peach-heading{

font-size:28px;
margin-bottom:20px;

}

.plum-text{

max-width:900px;
margin:auto;
margin-bottom:40px;
text-align:justify;

}


/* AO ROW */

.berry-row{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}


/* AO TILE */

.coconut-tile{

background:white;
width:180px;
padding:18px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.15);
font-weight:600;
text-align:center;

}

.coconut-tile p{

font-weight:normal;
margin-top:8px;
font-size:14px;

}


/* DISTRICT */

.dragonfruit-section{

margin-top:80px;

}

.dragonfruit-section h2{

text-align:center;

}

.dragon-intro{

max-width:1000px;
margin:auto;
line-height:1.8;
color:#444;
margin-bottom:40px;
text-align:justify;

}


/* DISTRICT CONTAINER */

.lychee-container{

width:100%;

}


/* ROW */

.guava-row{

margin-bottom:15px;

}


/* HEADER */

.jackfruit-header{

width:100%;
padding:18px;
background:#2563eb;
color:white;
font-size:18px;
font-weight:600;
cursor:pointer;
text-align:center;
border-radius:14px;
box-shadow:0 4px 10px rgba(0,0,0,0.15);

}

.jackfruit-header:hover{

background:#1e4ed8;

}


/* EXPAND */

.durian-expand{

display:flex;
justify-content:center;
gap:30px;
padding:25px;
background:white;
border-radius:14px;
margin-top:10px;
box-shadow:0 3px 8px rgba(0,0,0,0.15);
flex-wrap:wrap;

}

.avocado-card{

width:220px;
background:#afbfc2;
padding:18px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
text-align:center;

}